@font-face {
    font-family: "coco-reg";
    src: url("fonts/coco-gothic.regular.ttf");
}

@font-face {
    font-family: "monserrat-bold";
    src: url("fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "monserrat-light";
    src: url("fonts/Montserrat/static/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: "monserrat-thin";
    src: url("fonts/Montserrat/static/Montserrat-Thin.ttf");
}

* {
    margin: 0px;
}

body {
    box-sizing: border-box;
}

nav {
    z-index: 2;
    border-bottom: 1px solid black;
    position: sticky;
    background-color: white;
    top: 0px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: saturate(180%) blur(20px);
}

.logo-wrap img {
    width: 200px;
    margin-left: 20px;
    margin-right: 80px;
}

.main-nav-wrap {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}

.main-nav {
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-nav li a {
    margin-left: 20px;
    font-family: "coco-reg";
    font-size: 20px;
    letter-spacing: 3px;
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.5s;
    border-radius: 10px;
}

.main-nav li a:hover {
    background-color: #fdffa0;
}

.mobile-nav-wrap {
    display: none;
}

.mobile-nav {
    display: none;
}


/*about section*/

.about-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-main h3 {
    font-family: monserrat-bold;
    font-size: 40px;
    margin: 30px 0px;
}

.about-main h4 {
    font-family: monserrat-thin;
    font-size: 30px;
    margin: 20px 0px;
}

.about-main p {
    font-family: monserrat-light;
    font-size: 20px;
    margin: 20px 0px;
    width: 70%;
    text-align: justify;
}

.about-secondary {
    margin-top: 80px;
    padding: 100px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ececec;
}

.image-wrap {
    margin: 40px;
    width: 50%;
}

.about-secondary img {
    width: 100%;
}

.experience {
    margin: 40px;
    width: 50%;
}

.experience h3 {
    font-family: monserrat-bold;
    font-size: 27px;
    margin: 40px 0px;
}

.experience p {
    font-family: monserrat-light;
    font-size: 20px;
    margin: 20px 0px;
}




/*footer*/

footer {
    padding-top: 30px;
    background-color: #343434;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer-hero {
    font-family: monserrat-light;
    font-size: 20px;
    width: 50%;
    text-align: center;
}

.footer-main {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.footer-main p {
    margin: 25px;
    font-family: coco-reg;
    font-size: 20px;
}

.footer-main a {
    letter-spacing: 3px;
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.footer-main a:hover {
    color: white;
    text-decoration: underline;
}

.footer-bottom {
    width: 90%;
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
    padding: 10px 0px;
    border-top: 1px solid white;
}

@media (max-width: 1240px) {
    
    /*footer*/
    
    footer {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    
    .footer-hero {
        font-family: monserrat-light;
        font-size: 20px;
        width: 50%;
        text-align: center;
    }
    
    .footer-main {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .footer-main p {
        margin: 25px;
        font-family: coco-reg;
        font-size: 20px;
    }
    
    .footer-main a {
        letter-spacing: 3px;
        color: white;
        text-decoration: none;
        font-weight: 300;
    }
    
    .footer-main a:hover {
        color: white;
        text-decoration: underline;
    }
    
    .footer-bottom {
        width: 90%;
        text-align: center;
        margin-top: 20px;
        font-family: sans-serif;
        padding: 10px 0px;
        border-top: 1px solid white;
    }
    
}

@media (max-width: 1023px) {
    nav {
        z-index: 2;
        border-bottom: 1px solid black;
        position: sticky;
        background-color: white;
        top: 0px;   
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: saturate(180%) blur(20px);
    }
    
    .logo-wrap img {
        width: 200px;
        margin-left: 20px;
        margin-right: 30px;
    }

    .mobile-nav-wrap {
        display: block;
        width: 100%;
    }

    .logo-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav-wrap {
        display: none;
    }

    .x-icon img, .hamb-icon img {
        width: 50px;
    }

    .x-icon {
        display: none;
    }

    .mobile-nav {
        display: none;
        border-top: 1px solid black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        list-style: none;
        position: absolute;
        background-color: rgba(255, 255, 255);
        width: 100%;
    }

    .mobile-nav li {
        margin: 20px 0px;
    }

    .mobile-nav li a {
        text-decoration: none;
        font-family: "coco-reg";
        font-size: 20px;
        letter-spacing: 3px;
        color: black;
    }

    /*about section*/

    .about-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-main h3 {
        font-family: monserrat-bold;
        font-size: 40px;
        margin: 30px 0px;
    }

    .about-main h4 {
        font-family: monserrat-thin;
        font-size: 30px;
        margin: 20px 0px;
    }

    .about-main p {
        font-family: monserrat-light;
        font-size: 20px;
        margin: 20px 0px;
        width: 70%;
        text-align: justify;
    }

    .about-secondary {
        margin-top: 80px;
        padding: 50px 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #ececec;
    }

    .image-wrap {
        margin: 40px;
        width: 50%;
    }

    .about-secondary img {
        width: 100%;
    }

    .experience {
        margin: 40px;
        width: 50%;
    }

    .experience h3 {
        font-family: monserrat-bold;
        font-size: 27px;
        margin: 40px 0px;
    }

    .experience p {
        font-family: monserrat-light;
        font-size: 20px;
        margin: 20px 0px;
    }
    
    /*footer*/
    
    footer {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    
    .footer-hero {
        font-family: monserrat-light;
        font-size: 20px;
        width: 50%;
        text-align: center;
    }
    
    .footer-main {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .footer-main p {
        margin: 25px;
        font-family: coco-reg;
        font-size: 20px;
    }
    
    .footer-main a {
        letter-spacing: 3px;
        color: white;
        text-decoration: none;
        font-weight: 300;
    }
    
    .footer-main a:hover {
        color: white;
        text-decoration: underline;
    }
    
    .footer-bottom {
        width: 90%;
        text-align: center;
        margin-top: 20px;
        font-family: sans-serif;
        padding: 10px 0px;
        border-top: 1px solid white;
    }
    
}

@media (max-width: 930px) {

    nav {
        z-index: 2;
        border-bottom: 1px solid black;
        position: sticky;
        background-color: white;
        top: 0px;   
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: saturate(180%) blur(20px);
    }
    
    .logo-wrap img {
        width: 200px;
        margin-left: 20px;
        margin-right: 30px;
    }

    .mobile-nav-wrap {
        display: block;
        width: 100%;
    }

    .logo-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav-wrap {
        display: none;
    }

    .x-icon img, .hamb-icon img {
        width: 50px;
    }

    .x-icon {
        display: none;
    }

    .mobile-nav {
        display: none;
        border-top: 1px solid black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        list-style: none;
        position: absolute;
        background-color: rgba(255, 255, 255);
        width: 100%;
    }

    .mobile-nav li {
        margin: 20px 0px;
    }

    .mobile-nav li a {
        text-decoration: none;
        font-family: "coco-reg";
        font-size: 20px;
        letter-spacing: 3px;
        color: black;
    }

    /*about section*/

    .about-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-main h3 {
        font-family: monserrat-bold;
        font-size: 40px;
        margin: 30px 0px;
    }

    .about-main h4 {
        font-family: monserrat-thin;
        font-size: 30px;
        margin: 20px 0px;
    }

    .about-main p {
        font-family: monserrat-light;
        font-size: 20px;
        margin: 20px 0px;
        width: 70%;
        text-align: justify;
    }

    .about-secondary {
        margin-top: 40px;
        padding: 10px 0px;
        display: block;
        justify-content: space-evenly;
        align-items: center;
        background-color: #ececec;
    }

    .image-wrap {
        display: flex;
        justify-content: center;
        margin: 0px;
        width: 100%;
    }

    .about-secondary img {
        width: 80%;
    }

    .experience {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        width: 100%;
    }

    .experience h3 {
        font-family: monserrat-bold;
        text-align: center;
        font-size: 27px;
        margin: 20px 0px;
        width: 70%;
    }

    .experience p {
        font-family: monserrat-light;
        text-align: center;
        font-size: 20px;
        margin: 20px 0px;
        width: 70%;
    }
    
    
    /*footer*/
    
    footer {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    
    .footer-hero {
        font-family: monserrat-light;
        font-size: 20px;
        width: 50%;
        text-align: center;
    }
    
    .footer-main {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .footer-main p {
        margin: 25px;
        font-family: coco-reg;
        font-size: 20px;
    }
    
    .footer-main a {
        letter-spacing: 3px;
        color: white;
        text-decoration: none;
        font-weight: 300;
    }
    
    .footer-main a:hover {
        color: white;
        text-decoration: underline;
    }
    
    .footer-bottom {
        width: 90%;
        text-align: center;
        margin-top: 20px;
        font-family: sans-serif;
        padding: 10px 0px;
        border-top: 1px solid white;
    }
    
}

@media (max-width: 767px) {

    nav {
        z-index: 2;
        border-bottom: 1px solid black;
        position: sticky;
        background-color: white;
        top: 0px;   
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: saturate(180%) blur(20px);
    }
    
    .logo-wrap img {
        width: 200px;
        margin-left: 20px;
        margin-right: 30px;
    }

    .mobile-nav-wrap {
        display: block;
        width: 100%;
    }

    .logo-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav-wrap {
        display: none;
    }

    .x-icon img, .hamb-icon img {
        width: 50px;
    }

    .x-icon {
        display: none;
    }

    .mobile-nav {
        display: none;
        border-top: 1px solid black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        list-style: none;
        position: absolute;
        background-color: rgba(255, 255, 255);
        width: 100%;
    }

    .mobile-nav li {
        margin: 20px 0px;
    }

    .mobile-nav li a {
        text-decoration: none;
        font-family: "coco-reg";
        font-size: 20px;
        letter-spacing: 3px;
        color: black;
    }
    
    /*footer*/
    
    footer {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    
    .footer-hero {
        font-family: monserrat-light;
        font-size: 20px;
        width: 50%;
        text-align: center;
    }
    
    .footer-main {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .footer-main p {
        margin: 25px;
        font-family: coco-reg;
        font-size: 20px;
    }
    
    .footer-main a {
        letter-spacing: 3px;
        color: white;
        text-decoration: none;
        font-weight: 300;
    }
    
    .footer-main a:hover {
        color: white;
        text-decoration: underline;
    }
    
    .footer-bottom {
        width: 90%;
        text-align: center;
        margin-top: 20px;
        font-family: sans-serif;
        padding: 10px 0px;
        border-top: 1px solid white;
    }
    
}

@media (max-width: 616px) {
    nav {
        z-index: 2;
        border-bottom: 1px solid black;
        position: sticky;
        background-color: white;
        top: 0px;   
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: saturate(180%) blur(20px);
    }
    
    .logo-wrap img {
        width: 150px;
        margin-left: 20px;
        margin-right: 10px;
    }

    .mobile-nav-wrap {
        display: block;
        width: 100%;
    }

    .logo-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav-wrap {
        display: none;
    }

    .x-icon img, .hamb-icon img {
        width: 45px;
    }

    .x-icon {
        display: none;
    }

    .mobile-nav {
        display: none;
        border-top: 1px solid black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        list-style: none;
        position: absolute;
        background-color: rgba(255, 255, 255);
        width: 100%;
    }

    .mobile-nav li {
        margin: 20px 0px;
    }

    .mobile-nav li a {
        text-decoration: none;
        font-family: "coco-reg";
        font-size: 20px;
        letter-spacing: 3px;
        color: black;
    }
    
    /*footer*/
    
    footer {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    
    .footer-hero {
        font-family: monserrat-light;
        font-size: 20px;
        width: 70%;
        text-align: center;
    }
    
    .footer-main {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .footer-main p {
        margin: 25px;
        font-family: coco-reg;
        font-size: 20px;
    }
    
    .footer-main a {
        letter-spacing: 3px;
        color: white;
        text-decoration: none;
        font-weight: 300;
    }
    
    .footer-main a:hover {
        color: white;
        text-decoration: underline;
    }
    
    .footer-bottom {
        width: 90%;
        text-align: center;
        margin-top: 20px;
        font-family: sans-serif;
        padding: 10px 0px;
        border-top: 1px solid white;
    }
    
}