@font-face {
    font-family: "coco-reg";
    src: url("fonts/coco-gothic.regular.ttf");
}

@font-face {
    font-family: "monserrat-bold";
    src: url("fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "monserrat-light";
    src: url("fonts/Montserrat/static/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: "monserrat-thin";
    src: url("fonts/Montserrat/static/Montserrat-Thin.ttf");
}

* {
    margin: 0px;
}

body {
    box-sizing: border-box;
}

nav {
    z-index: 2;
    border-bottom: 1px solid black;
    position: sticky;
    background-color: white;
    top: 0px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: saturate(180%) blur(20px);
}

.logo-wrap img {
    width: 200px;
    margin-left: 20px;
    margin-right: 80px;
}

.main-nav-wrap {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}

.main-nav {
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-nav li a {
    margin-left: 20px;
    font-family: "coco-reg";
    font-size: 20px;
    letter-spacing: 3px;
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.5s;
    border-radius: 10px;
}

.main-nav li a:hover {
    background-color: #fdffa0;
}

.mobile-nav-wrap {
    display: none;
}

.mobile-nav {
    display: none;
}


/*juice block*/
.juice-block-wrap {
    overflow: hidden;
}

.block-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.block-top h3 {
    font-family: monserrat-bold;
    font-size: 30px;
    margin: 30px 30px;
    text-align: center;
}

.block-top p {
    font-family: monserrat-thin;
    font-size: 25px;
    margin: 30px 30px;
    text-align: justify;
}

.block-top img {
    width: 80%;
}

.product-block {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
    overflow: hidden;
}

.image-wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrap img {
    width: 50%;
}

.info-wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
}

.title {
    font-family: monserrat-bold;
    font-size: 30px;
}

.juice-price {
    font-family: monserrat-thin;
    margin-top: 30px;
    font-size: 25px;
}

.juice-ingredients {
    font-family: monserrat-thin;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.juice-description {
    margin-top: 30px;
    font-family: monserrat-light;
    font-size: 18px;
}

.circle {
    height: 0px;
}

.circle img {
    position: relative;
    z-index: -1;
}

.circle-1 {
    width: 400px;
    top: -200px;
    right: 250px;
    z-index: -1;
}

.circle-2 {
    position: relative;
    width: 400px;
    top: -200px;
    left: 90%;
    z-index: -1;
}

/*footer*/

footer {
    padding-top: 30px;
    background-color: #8a8a8a;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer-hero {
    font-family: monserrat-light;
    font-size: 20px;
    width: 50%;
    text-align: center;
}

.footer-main {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.footer-main p {
    margin: 25px;
    font-family: coco-reg;
    font-size: 20px;
}

.footer-main a {
    letter-spacing: 3px;
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.footer-main a:hover {
    color: white;
    text-decoration: underline;
}

.footer-bottom {
    width: 90%;
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
    padding: 10px 0px;
    border-top: 1px solid white;
}

@media (max-width: 1240px) {


    /*juice block*/
.block-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.block-top h3 {
    font-family: monserrat-bold;
    font-size: 30px;
    margin: 30px 30px;
    text-align: center;
}

.block-top p {
    font-family: monserrat-thin;
    font-size: 25px;
    margin: 30px 30px;
    text-align: justify;
}

.block-top img {
    width: 80%;
}

.product-block {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
}

.image-wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrap img {
    width: 60%;
}

.info-wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.title {
    font-family: monserrat-bold;
    font-size: 30px;
}

.juice-price {
    font-family: monserrat-thin;
    margin-top: 30px;
    font-size: 25px;
}

.juice-ingredients {
    font-family: monserrat-thin;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.juice-description {
    margin-top: 30px;
    font-family: monserrat-light;
    font-size: 18px;
}
    
    /*footer*/
    
    footer {
        padding-top: 30px;
        background-color: #8a8a8a;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    
    .footer-hero {
        font-family: monserrat-light;
        font-size: 20px;
        width: 50%;
        text-align: center;
    }
    
    .footer-main {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .footer-main p {
        margin: 25px;
        font-family: coco-reg;
        font-size: 20px;
    }
    
    .footer-main a {
        letter-spacing: 3px;
        color: white;
        text-decoration: none;
        font-weight: 300;
    }
    
    .footer-main a:hover {
        color: white;
        text-decoration: underline;
    }
    
    .footer-bottom {
        width: 90%;
        text-align: center;
        margin-top: 20px;
        font-family: sans-serif;
        padding: 10px 0px;
        border-top: 1px solid white;
    }
    
}

@media (max-width: 1023px) {
    nav {
        z-index: 2;
        border-bottom: 1px solid black;
        position: sticky;
        background-color: white;
        top: 0px;   
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: saturate(180%) blur(20px);
    }
    
    .logo-wrap img {
        width: 200px;
        margin-left: 20px;
        margin-right: 30px;
    }

    .mobile-nav-wrap {
        display: block;
        width: 100%;
    }

    .logo-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav-wrap {
        display: none;
    }

    .x-icon img, .hamb-icon img {
        width: 50px;
    }

    .x-icon {
        display: none;
    }

    .mobile-nav {
        display: none;
        border-top: 1px solid black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        list-style: none;
        position: absolute;
        background-color: rgba(255, 255, 255);
        width: 100%;
    }

    .mobile-nav li {
        margin: 20px 0px;
    }

    .mobile-nav li a {
        text-decoration: none;
        font-family: "coco-reg";
        font-size: 20px;
        letter-spacing: 3px;
        color: black;
    }

 
    
    /*footer*/
    
    footer {
        padding-top: 30px;
        background-color: #8a8a8a;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    
    .footer-hero {
        font-family: monserrat-light;
        font-size: 20px;
        width: 50%;
        text-align: center;
    }
    
    .footer-main {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .footer-main p {
        margin: 25px;
        font-family: coco-reg;
        font-size: 20px;
    }
    
    .footer-main a {
        letter-spacing: 3px;
        color: white;
        text-decoration: none;
        font-weight: 300;
    }
    
    .footer-main a:hover {
        color: white;
        text-decoration: underline;
    }
    
    .footer-bottom {
        width: 90%;
        text-align: center;
        margin-top: 20px;
        font-family: sans-serif;
        padding: 10px 0px;
        border-top: 1px solid white;
    }
    
}

@media (max-width: 930px) {

        /*juice block*/
.block-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.block-top h3 {
    font-family: monserrat-bold;
    font-size: 30px;
    margin: 30px 30px;
    text-align: center;
}

.block-top p {
    font-family: monserrat-thin;
    font-size: 25px;
    margin: 30px 30px;
    text-align: justify;
}

.block-top img {
    width: 80%;
}

.product-block {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
}

.image-wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrap img {
    width: 80%;
}

.info-wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.title {
    font-family: monserrat-bold;
    font-size: 30px;
}

.juice-price {
    font-family: monserrat-thin;
    margin-top: 30px;
    font-size: 25px;
}

.juice-ingredients {
    font-family: monserrat-thin;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.juice-description {
    margin-top: 30px;
    font-family: monserrat-light;
    font-size: 18px;
}

    nav {
        z-index: 2;
        border-bottom: 1px solid black;
        position: sticky;
        background-color: white;
        top: 0px;   
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: saturate(180%) blur(20px);
    }
    
    .logo-wrap img {
        width: 200px;
        margin-left: 20px;
        margin-right: 30px;
    }

    .mobile-nav-wrap {
        display: block;
        width: 100%;
    }

    .logo-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav-wrap {
        display: none;
    }

    .x-icon img, .hamb-icon img {
        width: 50px;
    }

    .x-icon {
        display: none;
    }

    .mobile-nav {
        display: none;
        border-top: 1px solid black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        list-style: none;
        position: absolute;
        background-color: rgba(255, 255, 255);
        width: 100%;
    }

    .mobile-nav li {
        margin: 20px 0px;
    }

    .mobile-nav li a {
        text-decoration: none;
        font-family: "coco-reg";
        font-size: 20px;
        letter-spacing: 3px;
        color: black;
    }

   
    
    
    /*footer*/
    
    footer {
        padding-top: 30px;
        background-color: #8a8a8a;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    
    .footer-hero {
        font-family: monserrat-light;
        font-size: 20px;
        width: 50%;
        text-align: center;
    }
    
    .footer-main {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .footer-main p {
        margin: 25px;
        font-family: coco-reg;
        font-size: 20px;
    }
    
    .footer-main a {
        letter-spacing: 3px;
        color: white;
        text-decoration: none;
        font-weight: 300;
    }
    
    .footer-main a:hover {
        color: white;
        text-decoration: underline;
    }
    
    .footer-bottom {
        width: 90%;
        text-align: center;
        margin-top: 20px;
        font-family: sans-serif;
        padding: 10px 0px;
        border-top: 1px solid white;
    }
    
}

@media (max-width: 767px) {

        /*juice block*/
    .block-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .block-top h3 {
        font-family: monserrat-bold;
        font-size: 30px;
        margin: 30px 30px;
        text-align: center;
    }

    .block-top p {
        font-family: monserrat-thin;
        font-size: 25px;
        margin: 30px 30px;
        text-align: justify;
    }

    .block-top img {
        width: 80%;
    }

    .product-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 100px 0px;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: saturate(180%) blur(20px);
    }

    .image-wrap {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-wrap img {
        width: 60%;
    }

    .info-wrap {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 20px;
    }

    .title {
        font-family: monserrat-bold;
        font-size: 30px;
    }

    .juice-price {
        font-family: monserrat-thin;
        margin-top: 30px;
        font-size: 25px;
    }

    .juice-ingredients {
        font-family: monserrat-thin;
        font-size: 30px;
        margin-top: 30px;
        text-align: center;
    }

    .juice-description {
        margin-top: 30px;
        font-family: monserrat-light;
        font-size: 18px;
        text-align: center;
    }

    nav {
        z-index: 2;
        border-bottom: 1px solid black;
        position: sticky;
        background-color: white;
        top: 0px;   
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: saturate(180%) blur(20px);
    }
    
    .logo-wrap img {
        width: 200px;
        margin-left: 20px;
        margin-right: 30px;
    }

    .mobile-nav-wrap {
        display: block;
        width: 100%;
    }

    .logo-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav-wrap {
        display: none;
    }

    .x-icon img, .hamb-icon img {
        width: 50px;
    }

    .x-icon {
        display: none;
    }

    .mobile-nav {
        display: none;
        border-top: 1px solid black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        list-style: none;
        position: absolute;
        background-color: rgba(255, 255, 255);
        width: 100%;
    }

    .mobile-nav li {
        margin: 20px 0px;
    }

    .mobile-nav li a {
        text-decoration: none;
        font-family: "coco-reg";
        font-size: 20px;
        letter-spacing: 3px;
        color: black;
    }
    
  

    /*footer*/
    
    footer {
        padding-top: 30px;
        background-color: #8a8a8a;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    
    .footer-hero {
        font-family: monserrat-light;
        font-size: 20px;
        width: 50%;
        text-align: center;
    }
    
    .footer-main {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .footer-main p {
        margin: 25px;
        font-family: coco-reg;
        font-size: 20px;
    }
    
    .footer-main a {
        letter-spacing: 3px;
        color: white;
        text-decoration: none;
        font-weight: 300;
    }
    
    .footer-main a:hover {
        color: white;
        text-decoration: underline;
    }
    
    .footer-bottom {
        width: 90%;
        text-align: center;
        margin-top: 20px;
        font-family: sans-serif;
        padding: 10px 0px;
        border-top: 1px solid white;
    }
    
}

@media (max-width: 616px) {
    .block-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        overflow: hidden;
    }

    .block-top h3 {
        font-family: monserrat-bold;
        font-size: 30px;
        margin: 30px 30px;
        text-align: center;
    }

    .block-top p {
        font-family: monserrat-thin;
        font-size: 25px;
        margin: 30px 30px;
        text-align: justify;
    }

    .block-top img {
        width: 140%;
    }

    .product-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 100px 0px;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: saturate(180%) blur(20px);
    }

    .image-wrap {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-wrap img {
        width: 100%;
    }

    .info-wrap {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
    }

    .title {
        font-family: monserrat-bold;
        font-size: 30px;
    }

    .juice-price {
        font-family: monserrat-thin;
        margin-top: 30px;
        font-size: 25px;
    }

    .juice-ingredients {
        font-family: monserrat-thin;
        font-size: 30px;
        margin-top: 30px;
        text-align: center;
    }

    .juice-description {
        margin-top: 30px;
        font-family: monserrat-light;
        font-size: 18px;
        text-align: center;
    }


    nav {
        z-index: 2;
        border-bottom: 1px solid black;
        position: sticky;
        background-color: white;
        top: 0px;   
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: saturate(180%) blur(20px);
    }
    
    .logo-wrap img {
        width: 150px;
        margin-left: 20px;
        margin-right: 10px;
    }

    .mobile-nav-wrap {
        display: block;
        width: 100%;
    }

    .logo-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav-wrap {
        display: none;
    }

    .x-icon img, .hamb-icon img {
        width: 45px;
    }

    .x-icon {
        display: none;
    }

    .mobile-nav {
        display: none;
        border-top: 1px solid black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        list-style: none;
        position: absolute;
        background-color: rgba(255, 255, 255);
        width: 100%;
    }

    .mobile-nav li {
        margin: 20px 0px;
    }

    .mobile-nav li a {
        text-decoration: none;
        font-family: "coco-reg";
        font-size: 20px;
        letter-spacing: 3px;
        color: black;
    }
    
    /*footer*/
    
    footer {
        padding-top: 30px;
        background-color: #8a8a8a;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    
    .footer-hero {
        font-family: monserrat-light;
        font-size: 20px;
        width: 70%;
        text-align: center;
    }
    
    .footer-main {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .footer-main p {
        margin: 25px;
        font-family: coco-reg;
        font-size: 20px;
    }
    
    .footer-main a {
        letter-spacing: 3px;
        color: white;
        text-decoration: none;
        font-weight: 300;
    }
    
    .footer-main a:hover {
        color: white;
        text-decoration: underline;
    }
    
    .footer-bottom {
        width: 90%;
        text-align: center;
        margin-top: 20px;
        font-family: sans-serif;
        padding: 10px 0px;
        border-top: 1px solid white;
    }
    
}